*{
    margin: 0;
}

body{
    background-color: rgb(214, 137, 75);
    font-size: 16x;
    color: black;
    line-height: 2.0;
    font-family: sans-serif;
    font-size: 17px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: rgb(252, 162, 52);
    color:black;
    height: 6em;
}

header h1{
    padding: 1em;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(235, 164, 32);
    width: 100%;
}

 .pp{
    text-align: center;
}

img{
    max-width: 100%;
    border-radius: auto;
    width: 50%;
}

hr{
    background-color: black;
}

main{
    background-color: rgb(252, 162, 52);
    color: rgb(0, 0, 0);
    flex: 1;
}

section {
    margin: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

p {
    text-indent: 2em;
}

html, body{
    min-height: 100%;
}

strong{
    color: rgb(235, 164, 32);
}

section > div{
    flex: 1;
    margin: 2%;
}

a:hover{
    color:rgb(235, 164, 32);
}

a:visited{
    color: rgb(235, 164, 32);
}

footer{
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: rgb(247, 170, 55);
}

@media (max-width: 480px){
    section{
        flex-direction: column;
        margin: 3%;
        gap: 20px;
    }
}

@media (min-width: 481px) and (max-width: 1024){
    section{
        margin: 3%;
        gap: 5%;
    }

    img{
        width: 80%;
        margin: auto;
        display: flex;
    }
}

@media (min-width: 1025px){
    section{
        margin: 0 5%;
    }
}